.section {
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem;
  color: white;
  background-size: cover;
  background-position: center;
  height: 25rem;
  display: flex;
  align-items: center;
}

.section1 {
  background: url("../assets/SPH.jpg") no-repeat center center / cover;
}

.section2 {
  background: url("../assets/AllThings.jpg") no-repeat center center / cover;
}

.section3 {
  background: url("../assets/TKU.jpg") no-repeat center center / cover;
}

.section4 {
  background: url("../assets/DHS.jpg") no-repeat center center / cover;
}

.section1::after,
.section3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.section2::after,
.section4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.section-content {
  position: relative;
  z-index: 2;
  color: black;
  width: 75%;
}

.section-content.text-right {
  margin-left: auto;
  text-align: end;
}

.section-content.text-left {
  margin-right: auto;
}

.section-content h4,
.section-content p,
.section-content ul {
  margin: 0;
  padding: 0.5rem 0;
}

.section-content h4 {
  font-size: 1.5rem;
}

.section-content ul {
  list-style-type: none;
  padding-left: 0;
}
